<h1>Create a new task</h1>

<div class= m-4>
  <%= form_with model: @task do |f| %>
  <div class = "my-2 p-1">
  <%= f.label :title %>
  <%= f.text_field :title%>
  </div>
  <div class = "my-2 p-1">
  <%= f.label :details %>
  <%= f.text_area :details %>
  </div>
  <div class = "my-2 p-1">
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  </div>
  <%= f.submit %>
  <% end %>
</div>

<div class = "my-2 p-1">
<%= link_to "Back to main page", tasks_path, class: "btn m-1 btn-primary" %>
</div>
